<div class="btn-group">
  <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">Line type <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><input type="radio" id="ID" name="NAME" value="VALUE" checked="checked" ng-click="setStraightLines()"><label for="ID">Straight</label></li>
      <li><input type="radio" id="ID" name="NAME" value="VALUE" ng-click="setCurvedLines()"><label for="ID">Curved</label></li>
    </ul>
</div>
<div id='parallel-coords-div'></div>
